    main {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        margin: 0 auto;
        width: 80vw;
        padding: 2rem;
        background-color: rgb(71, 71, 71);
    }
    
    body {
        color: black;
        background-color: #000000;
        font: 1.6rem "VT323", monospace;
        font-family: 'Russo One', sans-serif;
    }
    
    h1 {
        text-align: center;
        color: rgb(240, 210, 39);
        font-family: 'Russo One', sans-serif;
    }
    
    h2 {
        font-family: 'Russo One', sans-serif;
        border-color: rgb(240, 210, 39);
        color: rgb(240, 210, 39);
    }
    
    blockquote {
        background-color: rgb(240, 210, 39);
        padding: 1rem;
    }
    
    img {
        border-style: solid;
        border-radius: 50px;
        border-width: 10px;
    }
    
    a:link {
        color: black;
    }
    
    a:visited {
        color: rgb(170, 95, 95);
    }
    
    a:focus {
        color: orange;
    }
    
    a:hover {
        color: rgb(240, 210, 39);
    }
    
    a:active {
        color: yellow;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    .underline {
        border-style: solid;
        border-top: rgb(71, 71, 71);
        border-left: rgb(71, 71, 71);
        border-right: rgb(71, 71, 71);
        -webkit-text-stroke: 1px black;
        color: rgb(240, 210, 39);
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
    #title {
        text-decoration: underline;
        text-decoration-color: rgb(0, 0, 0);
    }